
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
      <script src="{{ root_url }}/assets/js/application.js"></script>
      <script src="{{ root_url }}/assets/js/screenfull.min.js"></script>
      <script src="{{ root_url }}/assets/js/utils.js"></script>
      <script src="{{ root_url }}/assets/js/reading-scroll.js"></script>
      <script src="{{ root_url }}/assets/js/{{ page.script }}.js"></script>
      {% if page.layout == 'detail' || page.layout == 'post' %}
      	<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bfd649d6885c129"></script>
      {% endif %}
    </body>
  </html>