      <footer class="page-footer blue darken-1">
          <div class="container">
            <div class="row">
              <div class="col l9 s12">
                <h5 class="white-text">Agora Sei</h5>
                <p class="grey-text text-lighten-4">O Agora Sei é o seu portal de giro de notícias semanal para que você se manter informado do que acontece no Brasil e no mundo.</p>


              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Redes Sociais</h5>
                <ul>
                  <li><a class="white-text" href="#!">Link 1</a></li>
                </ul>
              </div>
          	</div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
          </div>
        </footer>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    </body>
  </html>