{% include head.html %}

    <body class="grey lighten-4 home">
      <a class="shortcut" href="#mainContent"><span>Ir para o conteúdo</span></a>

      <header>
        <nav class="blue darken-1">
          <div class="nav-wrapper fix-nav-wrapper">
            <a href="{{ site.url }}" aria-label="voltar para o início" class="brand-logo center">Agora Sei</a>

            <form action="//google.com.br/search" method="get" target="_blank">
              <div class="input-field">
                <input type="hidden" name="sitesearch" value="agorasei.com.br" required />
                <input id="search" type="search" name="q" required />
                <label class="label-icon" for="search">
                  <i class="material-icons">search</i>
                </label>
                <i class="material-icons">close</i>
              </div>
            </form>

            <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#"><i class="material-icons">search</i></a></li>
            </ul> -->
          </div>
        </nav>
      </header>
