<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>

    <link rel="canonical" href="{{ site.url }}" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="{{ root_url }}/assets/css/style.css" media="screen,projection" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ root_url }}/assets/images/favicons/favicon-32x32.png">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <link rel="feed" type="application/rss+xml" title="Tableless" href="/feed.xml" />
    {% feed_meta %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="keywords" content="Notícias,Informação,Portal,Conteúdo,Videos" />
    <meta name="author" content="Agora Sei" />
    <meta name="theme-color" content="#45769F" />

    <link rel="manifest" href="{{ root_url }}/assets/manifest.json">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ root_url }}/assets/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ root_url }}/assets/images/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ root_url }}/assets/images/favicons/favicon-32x32.png">

    {% if page.layout == 'post' %}
      <meta name="description" content="{{ page.title }}">

      <!-- open graph -->
      <meta property="og:locale" content="pt_BR">

      <meta property="og:url" content="{{ site.url }}{{ page.url }}">

      <meta property="og:title" content="{{ page.title }}">
      <meta property="og:site_name" content="Agora Sei">

      <meta property="og:description" content="{{ page.title }}">

      <meta property="og:image" content="{{ site.url }}{{ page.cover_image }}">
      <meta property="og:image:secure_url" content="{{ site.url }}{{ page.cover_image }}" />
      <meta property="og:image:type" content="image/jpeg">
      <meta property="og:image:width" content="800">
      <meta property="og:image:height" content="600">
      <meta property="og:image:alt" content="{{ page.title }}" />

      <meta property="og:type" content="website">

      <!-- Twitter Cards -->
      <meta name="twitter:card" content="{{ page.title }}" />
      <meta name="twitter:site" content="@agorasei_" />
      <meta name="twitter:creator" content="@agorasei_" />
    {% else %}
      <meta name="description" content="Portal com informações para mantê-lo conectado com o que de mais importate acontece no Brasil">

      <!-- open graph -->
      <meta property="og:locale" content="pt_BR">

      <meta property="og:url" content="{{ site.url }}">

      <meta property="og:title" content="Agora Sei">
      <meta property="og:site_name" content="Agora Sei">

      <meta property="og:description" content="Portal com informações para mantê-lo conectado com o que de mais importate acontece no Brasil">

      <meta property="og:type" content="website">

      <!-- Twitter Cards -->
      <meta name="twitter:card" content="Portal com informações para mantê-lo conectado com o que de mais importate acontece no Brasil" />
      <meta name="twitter:site" content="@agorasei_" />
      <meta name="twitter:creator" content="@agorasei_" />
    {% endif %}

    <title>{% if page.issue_number %}{{ page.title }} | Giro de Notícias {{ page.issue_number }} | {% endif %}Agora Sei</title>
  </head>
