<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="{{ root_url }}/assets/css/style.css" media="screen,projection" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ root_url }}/assets/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="keywords" content="Notícias,Informação,Portal,Conteúdo,Videos">
    <meta name="author" content="Agora Sei">
    {% if page.layout == 'post' %}
      <meta name="description" content="{{ page.title }}">
    {% else %}
      <meta name="description" content="Portal com informações para mantê-lo conectado com o que de mais importate acontece no Brasil">
    {% endif %}

    <title>{% if page.issue_number %}{{ page.title }} | Giro de Notícias {{ page.issue_number }} | {% endif %}Agora Sei</title>

    {{ page.layout }}
  </head>
