{% include head.html %}

    <body class="grey lighten-4 home">
      <a class="shortcut" href="#mainContent"><span>Ir para o conteúdo</span></a>

      <header>
        <nav class=" blue darken-1">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center">AgoraSei</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="sass.html"><i class="material-icons">search</i></a></li>
            </ul>
          </div>
        </nav>
      </header>
      