{% include head.html %}

    <body class="grey lighten-4">
      <a class="shortcut" href="#mainContent"><span>Ir para o conteúdo</span></a>

      <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="determinate" aria-hidden="true"></div>
      </div>

      <header class="navbar-fixed">
        <nav class=" blue darken-1 hide-on-small-only">
          <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
              <li><a href="/index.html"><i class="material-icons" title="Voltar para a página inicial">arrow_back</i></a></li>
            </ul>
            <a href="/index.html" class="brand-logo center">AgoraSei</a>
            <ul id="nav-mobile" class="right">
              <li><a href="#"><i class="material-icons" title="Buscar">search</i></a></li>
            </ul>
          </div>
        </nav>

        <nav class="white hide-on-med-and-up">
          <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
              <li><a class="blue-grey-text text-darken-4" href="/index.html"><i class="material-icons" title="Voltar para a página inicial">arrow_back</i></a></li>
              <li>
                <a href="/index.html" class="blue-grey-text text-darken-4">AgoraSei</a>
              </li>
            </ul>
            <ul id="nav-mobile" class="right">
              <li><a class="blue-grey-text text-darken-4 fullScreen" href="#" title="Tela cheia"><i class="material-icons">fullscreen</i></a></li>
              <li><a class="blue-grey-text text-darken-4 highContrastMode" href="#" title="Ativar / desativar modo de alto constraste"><i class="material-icons">invert_colors</i></a></li>
              <li><a class="blue-grey-text text-darken-4 increaseFont" href="#" title="Aumentar fonte da página"><i class="material-icons">font_download</i></a></li>
            </ul>
          </div>
        </nav>
      </header>
      