{% include head.html %}

    <body class="grey lighten-4">
      <a class="shortcut" href="#mainContent"><span>Ir para o conteúdo</span></a>

      <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="determinate" aria-hidden="true"></div>
      </div>

      <header class="navbar-fixed">
        <nav class=" blue darken-1 hide-on-small-only">
          <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
              <li><a href="{{ site.url }}"><i class="material-icons" title="Voltar para a página inicial">arrow_back</i></a></li>
            </ul>
            <a href="{{ site.url }}" class="brand-logo center">Agora Sei</a>
          </div>
        </nav>

        <nav class="white hide-on-med-and-up">
          <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
              <li><a class="blue-grey-text text-darken-4" href="/index.html"><i class="material-icons" title="Voltar para a página inicial">arrow_back</i></a></li>
              <li>
                <a href="{{ site.url }}" class="blue-grey-text text-darken-4 nav-mobile-logo">Agora Sei</a>
              </li>
            </ul>
            <ul id="nav-mobile" class="right">
              <li><a class="blue-grey-text text-darken-4 fullScreenMode" href="#" title="Tela cheia"><i class="material-icons">fullscreen</i></a></li>
              <li><a class="blue-grey-text text-darken-4 highContrastMode-small" href="#" title="Ativar / desativar modo de alto constraste"><i class="material-icons">invert_colors</i></a></li>
              <li><a class="blue-grey-text text-darken-4 increaseFontMode-small" href="#" title="Aumentar fonte da página"><i class="material-icons">font_download</i></a></li>
            </ul>
          </div>
        </nav>

      </header>

      <a href="#" class="btn-floating btn waves-effect waves-light white hide-on-med-and-up exitFullScreen" title="Sair do modo tela cheia"><i class="material-icons black-text">fullscreen_exit</i></a>
