$font-family: 'Source Sans Pro', sans-serif !default;
$font-light: 300;
$font-regular: 400;
$font-heavy: 900;
$text-color: #444;

$line-height: 1.6em;

html, body {
  font: $font-regular 1rem $font-family;
  line-height: $line-height;
  color: $text-color;
}

.shortcut {
  display: block;
  margin-top: -41px;
  background: #1E88E5;
  color: #FFF;
  padding: .5em;
  text-align: center;
  transform: translate(-100%);
  -webkit-transform: translate(-100%);

  &:focus {
    transform: translate(0);
    -webkit-transform: translate(0);
    margin-top: 0;
  }
}