.progress {
	position: fixed;
	margin: 0;
	padding: 0;
	left: 0;
	z-index: 9999;
	background: #ffcdd2;

	.determinate {
		background: #b71c1c;
	}
}

.drops {

	.card {
		.card-title {
			font-size: 1.375rem;
			font-weight: 700;
			margin: 0 0 1rem 0;
			color: #232323;
		}
	}

	.headline {
		position: relative;

		.headline-tag {
			@extend .news-tag;
		}

		.headline-title {
			text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
		}

		.headline-complement {
			text-align: center;
			padding-top: 36px;
			font-size: .875rem;
			text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);

			.material-icons {
				vertical-align: middle;
				padding-right: 8px;

				&:nth-child(2) {
					padding-left: 36px;
				}
			}
		}

		.headline-update {
			font-size: .875rem;
			font-style: italic;
			margin-top: 2rem;
		}

		.headline-photoCredit {
			position: absolute;
			top: .5rem;
			left: .5rem;
			font-size: .8rem;
		}

		.headline-gotoContent {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -1.5rem;
			animation: bouncing-arrow 1.5s ease-out infinite;

			.material-icons {
				font-size: 3rem;
			}
		}

		@keyframes bouncing-arrow {
			0%, 100% {
				transform: translateY(0);
			}

			50% {
				transform: translateY(-0.685em);
			}
		}
	}
	
}

.newsNavigation {
	
	background: #FFF;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;

	div {
		display: inline-block;
		margin: 0 auto;

		a {
			color: #232323;
			display: block;

			&:hover,
			&:focus {
				color: #000;
			}
			
			&.disabled {
				opacity: .3;
			}
		}

	}
}

.darkOverlay {
	
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(51,51,51);
		background: linear-gradient(0deg, rgba(51,51,51,0.8) 0%, rgba(51,51,51,0.4) 70%);
		content: '';
	}

}

// Small size screens
@media (max-width: 600px) {

	.detailContent {
		    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
	}

	.drops-mobile-carousel {
		overflow: hidden;
	    position: relative;
	    width: 100%;
		height: calc(100vh - 80px);
		-webkit-perspective: 500px;
		perspective: 500px;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform-origin: 0% 50%;
		transform-origin: 0% 50%;

		.carousel-item {
			width: 80vw;
			height: calc(100vh - 120px);
			margin: 0;
			display: flex;
			align-items: stretch;
			justify-content: center;
			overflow: hidden;
			position: relative;
			cursor: pointer;
			pointer-events: none;
			box-sizing: border-box;

			.col {
				display: flex;
				align-items: stretch;
				justify-content: center;
			}

			.headline.card .card-content {
				padding: 1rem;
			}

			.card.white .card-content {
				height: 100%;
				overflow-y: auto;
				overflow-x: hidden;
			}

			.headline-tag {
				text-align: left;
			}

			.headline-title {
				margin-top: 1rem;
				font-size: 1.625rem;
				text-align: left;
			}

			.headline-complement {
				padding-top: 1rem;

				.material-icons {
					&:nth-child(2) {
						padding-left: 1.5rem;
					}
				}
			}
		}
	}

	.progress {
		bottom: 50px;
	}
	
}

@media (min-width: 601px) {
	
	.accessibilityControls {

		ul {
			position: fixed;
			top: 45%;
			right: 0;
			
			li a {
				position: relative;
			    display: block;
			    width: 3pc;
			    margin: 0 0 1px 0;
			    outline-offset: -1px;
			    text-align: center;
			    float: right;
			    transition: width .15s ease-in-out;
			    overflow: hidden;
			    background: #FFF;
			    color: #333;
			    z-index: 100030;
			    cursor: pointer;

			    i.material-icons {
			    	display: block;
			    	padding: 10px 0;
			    }

			    span {
			    	position: absolute;
				    clip: rect(1px,1px,1px,1px);
				    padding: 0;
				    border: 0;
				    overflow: hidden;
			    }

			    &:hover,
			    &:focus {
			    	width: 4pc;
			    }
			}
		}

	}
}

// Medium size
@media (min-width: 601px) and (max-width: 991px) {

	.progress {
		top: 0;
		left: 0;
		z-index: 9999;
	}

	.row .col-headline {
		padding: 0;
		margin: 0;
	}

	.headline.parallax-container {
		margin: 0;
		display: flex;
		align-items: center;
		height: calc(100vh - 64px);
		text-align: center;

		.headline-title {
			font-size: 2rem;
			font-weight: 900;
			line-height: 1.3em;
			text-align: center;
		}
	}
	
}

// Desktop and large devices
@media (min-width: 992px) {

	.progress {
		top: 0;
		left: 0;
		z-index: 9999;
	}

	.row .col-headline {
		padding: 0;
		margin: 0;
	}

	.headline {
		margin: 0;
		display: flex;
		align-items: center;
		height: calc(100vh - 64px);
		text-align: center;

		.headline-title {
			font-size: 3.125rem;
			font-weight: 900;
			line-height: 1.3em;
			text-align: center;
		}
	}
}