.home {
	overflow: hidden;
}

.news-tag {
	background: #b71c1c;
	font-size: 0.75rem;
	color: #FFF;
	line-height: 1em;
	border-radius: 0.25rem;
	padding: 0.5625rem;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 3.5rem;
}

.mainContent {
	
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
}

.homeNews {
	height: calc(100vh - 80px);
}

.news {
	display: flex;
	align-items: center;
	height: calc(100vh - 80px);
	background-repeat: no-repeat;
	background-size: cover;
	
	.news-title {
		font-weight: 900;
		line-height: 1.3em;
	}

	.news-complement {
		text-align: center;
		padding-top: 1.5rem;
		font-size: .875rem;

		.material-icons {
			vertical-align: middle;
			padding-right: 8px;

			&:nth-child(2) {
				padding-left: 2.2rem;
			}
		}
	}

	.news-photoCredit {
		position: absolute;
		top: .5rem;
		left: .5rem;
		font-size: .8rem;
	}

	.btn {
		margin-top: 1.5rem;
	}
}

@media (max-width: 600px) {
	
	.news {

		.news-title {
			margin-top: 1rem;
			font-size: 1.625rem;
		}

		.news-complement {
			padding-top: 1rem;

			.material-icons {
				&:nth-child(2) {
					padding-left: 1.5rem;
				}
			}
		}

		.btn {
			width: 100%;
		}

	}

}

@media (min-width: 601px) and (max-width: 991px) {

	.news {

		.news-title {
			margin-top: 1.2rem;
			font-size: 1.8rem;
		}

		.news-complement {
			padding-top: 1.2rem;
		}

		.btn {
			width: 10rem;
		}

	}

}

// Desktop and large devices
@media (min-width: 992px) {

	.news {

		.news-title {
			margin-top: 1.5rem;
			font-size: 2rem;
			text-align: center;
		}

		.btn {
			width: 15rem;
		}
	}
}