.home {
	overflow: hidden;
}

.news-tag {
	background: #A72720;
	font-size: 0.75rem;
	color: #FFF;
	line-height: 1em;
	border-radius: 0.25rem;
	padding: 0.5625rem;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 3.5rem;
}

.mainContent {

	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
}

.homeNews {
	height: calc(100vh - 80px);

	&.carousel {

		.carousel-item {
			width: 80vw;
			height: calc(100vh - 80px);
		}

	}
}

.news {
	display: flex;
	align-items: center;
	height: calc(100vh - 80px);
	background-repeat: no-repeat;
	background-size: cover;

	&:not(.empty):before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(51,51,51);
		background: linear-gradient(0deg, rgba(51,51,51,0.8) 0%, rgba(51,51,51,0.4) 70%);
		content: '';
	}

	.card-content {
		z-index: 1000;
	}

	.news-title {
		font-weight: 900;
		line-height: 1.3em;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
	}

	.news-complement {
		text-align: center;
		padding-top: 1.5rem;
		font-size: .875rem;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);

		.material-icons {
			vertical-align: middle;
			padding-right: 8px;

			&:nth-child(2) {
				padding-left: 2.2rem;
			}
		}
	}

	.news-photoCredit {
		position: absolute;
		top: .5rem;
		left: .5rem;
		font-size: .8rem;
	}

	.btn {
		margin-top: 1.5rem;
	}
}

@media (max-width: 600px) {

	.homeNews {

		&.carousel {

			.carousel-item {
				width: 88vw;
				height: calc(100vh - 80px);
			}

		}
	}

	.news {

		.card-content {
			padding: 10px;
		}

		.news-title {
			margin-top: 1rem;
			font-size: 1.625rem;
		}

		.news-complement {
			padding-top: 1rem;

			.material-icons {
				&:nth-child(2) {
					padding-left: 1.5rem;
				}
			}
		}

		.btn {
			width: 100%;
		}

	}

}

@media (min-width: 601px) and (max-width: 991px) {

	.news {

		.news-title {
			margin-top: 1.2rem;
			font-size: 1.8rem;
		}

		.news-complement {
			padding-top: 1.2rem;
		}

		.btn {
			width: 10rem;
		}

	}

}

// Desktop and large devices
@media (min-width: 992px) {

	.news {

		.news-title {
			margin-top: 1.5rem;
			font-size: 2rem;
			text-align: center;
		}

		.btn {
			width: 15rem;
		}
	}
}
